<!doctype html>
<html lang="pt-br">
    <%-include('./head')%>
    <body>
        <%-include('./header')%>
        <main>
            <h1>Estou aprendendo node ejs</h1>
        </main>
        <%-include('./footer')%>
    </body>
</html>