<!doctype html>
<html lang="pt-br">
    <%-include('./head')%>
    <body>
        <main>
       <h3>Meu nome</h3>   
       <p>Pedro Ian       </p>
       <h3>Minha idade:</h3>
       <p>19 anos</p>
       <h3>Sobre mim:</h3>
       <p>
        Olá!
</br>
Antes de tudo,  gostaria de dizer que tenho deficiência visual.
</br>
Me interessei na área de programação, quando vi um amigo meu criando páginas html
</br>
Fiquei bastante impressionado com aquilo. E logo me interessei também, então, comecei aprender html.
</br>
Procurei apostilas, e comecei a criar minhas primeiras páginas, sem pespectiva nenhuma. Somente como diversão.
</br>
Depois isso surgiu como uma oportunidade. Então tinha uma auxiliar no eu fundamental que me aconselhou a fazer uma escola técnica
</br>
Segundo ela, nessa escola, não faria física, química nem matemática. Fiquei intusiasmado com isso, e pensei:
</br>
Pôcha, que legal! Todas as matérias, menos essas. Que incrível!
</br>
Então fiz minha matrícula na escola técnica Aristóteles Ferreira, desde então conheci um novo mundo. O mundo da programação!
</br>
Já tinha ouvido falar no pascal, por conta do sistema dosvox. Um programa que os deficientes visuais utilizam pra conhecer a estrutura do  computador, como diretórios, arquivos e etc!
</br>
Só que eu não imaginava que nessa escola técnica, eu aprenderia lógica de programação com essa linguagem. Fiquei bastante feliz.
</br>
Mas só fui usufruir dessa experiência faltando 2 meses para acabar as aulas(Outubro/novembro) de 2018. Pois por falta de conhecimento meu e dos meus professores de lógica, não conhecíamos algum software de leitura de texto que podesse fazer a leitura do dos.
</br>
Aquela tela preta do computador que os mais antigos deve se lembrar.
</br>
Então como eu fazia: EScrevia a minha lógica de programação no word, em português  mesmo. Confesso que não entendia muito, pois só escrever sem ver, é meio sem graça. Logo, passei a me desinteressar.
</br>
Então que veio a primeira solução. Entrei em contato com um programador mais antigo do sistema dosvox, que já está bastante tempo programando em delphi, pascal, e ele me indicou que o mesom dosvox que roda no sistema operacional windows, rodava também no dos. Era só instalar.
</br>
Então fizemos a instalação, na escola com ajuda do  cpd da escola. E conseguimos instalar. Então era como se eu tivesse renascido novamente,
</br>
reaprendi tudo do 0 em 2 meses, e consegui!
</br>
Foi aí que eu acho que nasceu a habilidade e a necessidade de consegui aprender as coisas com rapidez e agilidade.
</br>
Com o mysql, aconteceu a mesma coisa, o pessoal da minha sala modelava os dados e o banco, e eu só ficava ouvindo. Pois o software não fazia a leitura do programa que usavamos pra desenhar banco de dados no computador.
</br>
Por hoje é só, logo mais vou atualizando meu diário!
       </p>
        </main>
        <%-include('./header')%>
        <%-include('./footer')%>
    </body>
</html>